@import "tailwindcss/base";
@import "./base.pcss";

@import "tailwindcss/components";
@import "./components.pcss";

@import "tailwindcss/utilities";
@import "./utilities.pcss";

/* html {
  scroll-behavior: smooth;
} */



/* @layer base {
  html {
    @apply font-website;
  }
} */