{# This page is built with nunjucks! #}
{% set title = 'Portfolio' %}
{% extends "layouts/page.njk" %}
{% block body %}
  <main
    class="dark:bg-gray-900 dark:text-white"
    id="main"
    x-data="{ showFeatures: false, showAbout: false, showPortfolio: false, showPricing: false, showContact: false, showCta:
      false }">
    {% include './_includes/partials/banner.njk' %}
    {% include  './_includes/sections/hero.njk' %}
    {% include  './_includes/sections/features.njk' %}
    {% include  './_includes/sections/about.njk' %}
    {% include  './_includes/sections/portfolio.njk' %}
    {# {% include  './_includes/sections/pricing.njk' %} #}
    {% include  './_includes/sections/contact.njk' %}
  </main>
{% endblock %}