<div class="py-8" x-data="{ showModal: false, activeSlide: 1 }">
  <div
    class="max-w-4xl mx-auto relative">
    <!-- Slides -->
    <div
      class=" h-64 border-r border-l dark:border-none border-gray-300 relative overflow-x-hidden "
      x-intersect.once.ratio-0="Array.from($el.querySelectorAll('img[data-src]')).forEach(element => element.src =
        element.dataset.src)">
      {% for slide in slides %}
        <div
          x-show="activeSlide === {{ loop.index }}"
          x-transition:enter="transition transform ease-out duration-500 absolute"
          x-transition:enter-start="opacity-0 -translate-x-full"
          x-transition:enter-end="opacity-100 translate-x-0"
          x-transition:leave="transition transform ease-in duration-500 absolute"
          x-transition:leave-start="opacity-100 translate-x-0"
          x-transition:leave-end="opacity-0 -translate-x-full"
          class=" font-bold text-5xl h-64 w-full flex items-center justify-center bg-indigo-500 text-white rounded-lg ">
          <img class="object-cover w-full h-64 rounded-lg" x-bind:data-src="'{{ slide.url }}'" alt=""/>
          {% include "./modal.njk" %}
        </div>
      {% endfor %}
    </div>
    <!-- Prev/Next Arrows -->
    <div class="absolute inset-0 flex">
      <div class="flex items-center justify-start w-1/2">
        <button
          class=" relative inline-flex items-center px-2 py-2 rounded-md border border-gray-300 bg-white text-sm font-medium
            text-gray-500 hover:bg-gray-50 focus:outline-none -ml-6 "
          x-on:click="activeSlide = activeSlide === 1 ? {{ slides.length }} : activeSlide - 1">
          <span class="sr-only">Previous</span>
          <!-- Heroicon name: solid/chevron-left -->
          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path
              fill-rule="evenodd"
              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
              clip-rule="evenodd"/>
          </svg>
        </button>
      </div>
      <div class="flex items-center justify-end w-1/2">
        <button
          class=" relative inline-flex items-center px-2 py-2 rounded-md border border-gray-300 bg-white text-sm font-medium
            text-gray-500 hover:bg-gray-50 focus:outline-none -mr-6 "
          x-on:click="activeSlide = activeSlide === {{ slides.length }} ? 1 : activeSlide + 1">
          <span class="sr-only">Next</span>
          <!-- Heroicon name: solid/chevron-right -->
          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"/>
          </svg>
        </button>
      </div>
    </div>
    <!-- Buttons -->
    <div class="absolute right-0 flex items-center justify-center px-4 mt-4">
      {% for slide in slides %}
        <button
          x-on:click="activeSlide = {{ loop.index }}"
          aria-current="button"
          class=" relative inline-flex items-center px-4 py-2 text-sm font-medium border -mr-px "
          :class="{ 'z-10 bg-indigo-50 border-indigo-500 text-indigo-600': activeSlide === {{ loop.index }}, 'bg-white border-gray-300 text-gray-500 hover:bg-gray-50': activeSlide !== {{ loop.index }}, 'rounded-l-md': {{ loop.index0 }} === 0, 'rounded-r-md': {{ loop.index0 }} === {{ slides.length }} - 1, }">
          <span class="">{{ loop.index }}</span>
        </button>
      {% endfor %}
      <button
        class=" hidden m-2 md:inline-flex items-center px-3 py-2 rounded-md border border-gray-300 bg-white text-sm font-medium
          text-gray-500 hover:bg-gray-50 focus:outline-none "
        type="button"
        @click="showModal = !showModal">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-600 mr-2" viewBox="0 0 20 20" fill="currentColor">
          <path d="M10 12a2 2 0 100-4 2 2 0 000 4z"/>
          <path
            fill-rule="evenodd"
            d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0
              11-8 0 4 4 0 018 0z"
            clip-rule="evenodd"/>
        </svg>
        <span class="">Zoom</span>
      </button>
    </div>
  </div>
</div>